@charset "utf-8";

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track:increment:no-button {
    background: #000000;
}
::-webkit-scrollbar-track-piece {
    background: #222222;
}
::-webkit-scrollbar-thumb {
    background: #867f7f; border-radius: 7px; -webkit-box-shadow: inset 0 0 3px rgba(127,127,127,0.701961);
}
